.grid{
    border: 1px solid black;
    width: 500px;
    margin-top: 5%;
}

.item{
    background-color: blueviolet;
    text-align: center;
    margin: 2px;
}
.grid-template-rows{
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.grid-template-rows-2{
    display: grid;
    grid-template-rows: 50px 100px 50px 200px;
}

.grid-template-rows-3{
    display: grid;
    grid-template-rows: 50px 100px 200px 300px 400px 500px;
}
.grid-template-rows-4{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 1fr 2fr ;
}
.item1{
    width: 60px;
    background-color: rgb(2, 84, 155);
    color: black;

}
.item11{
    background-color: rgb(2, 84, 155);
    color: black;
    margin: 2px;
}
.grid-template-rows-5{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 50px 110px 50px;
    grid-template-rows: 50px 20px 10px;
}

.container{
    display: grid;
    grid-template-columns: 50px 110px 50px;
    grid-template-rows: 50px 20px 10px;
}
.header{
    grid-area: header;
}
.nav{
    grid-area:nav;
}
.main{
    grid-area:main;
}
.footer{
    grid-area:footer;
}