.grid{
    border: 1px solid black;
    width: 500px;
}

.item{
    background-color: blueviolet;
    text-align: center;
    margin: 2px;
}
.grid-template-rows{
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.grid-template-rows-2{
    display: grid;
    grid-template-rows: 50px 100px 50px 200px;
}

.grid-template-rows-3{
    display: grid;
    grid-template-rows: 50px 100px 200px 300px 400px 500px;
}