@font-face {
    font-family: 'icones';
    src: url(../assets/font/icones.ttf);
}
body{
    background-color:#1D232A;
    font-family: 'Open Sans','icones', sans-serif;
    color: #ffffff;
}
.cabecalho{
    display: flex; /* transformei ele em flex container*/
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.cabecalho__menu i::before{
    content: "\e904";
    font-size: 24px;
}
.cabecalho__notificacao i::before{
    content: "\e906";
    font-size: 24px;

}
.cabecalho__logo{
    width: 40px;
}

.principal{
    padding: 24px 16px;
    display: grid;
    gap: 16px; /*espaço entre cada item*/
}
.titulo-pagina{
    font-size: 24px;
    font-weight: bold;
}
.cartao__imagem--mobile{
    width: 100%;
}
.cartao__conteudo{
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr ; /* to colocando as colunas do mesmo tamanho  */
    gap: 8px;
}
.cartao__destaque{
    grid-column: span 2;
}